
{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
      <ul>
        <img src="/static/gdis.jpg"> <label for="menu">G-Dis DAC</label>
        <li><label for="menu2">Network settings</label></li>
        <li><a href="{{ url_for('wifi') }}" class="wifi">WiFi setup</a> <a href="{{ url_for('tidal') }}" class="tidal">Network test</a></label></li> 
        <li><label for="menu">Input</label></li>
        <li><a href="{{ url_for('streamer') }}" class="wifi">Network</a> <a href="{{ url_for('coaxial1') }}" class="coaxial1">Coaxial 1</a> </li>
        <li><a href="{{ url_for('optical1') }}" class="optical1">Optical 1</a> <a href="{{ url_for('optical2') }}" class="optical2">Optical 2</a></label></li>
        <li><label for="menu">Display</label></li>
        <li><a href="{{ url_for('dispon') }}" class="dispon">ON</a> <a href="{{ url_for('dispoff') }}" class="dispoff">OFF</a></li>
        <li><label for="menu">Power</label></li>
        <li><a href="{{ url_for('reboot') }}" class="reboot">Reboot</a> <a href="{{ url_for('poweroff') }}" class="poweroff">Power off</a></li>
      </ul>
    </form>
  </div>
{% endblock %}
