{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
      <ul>
        <img src="/static/gdis.jpg"><a class="dot">.......</a><label for="menu">Digital Transport  S1</label>
        <li><a href="{{ url_for('wifi') }}" class="wifi">WiFi setup</a><a class="dot">.......</a><a href="{{ url_for('tidal') }}" class="tidal">Tidal setup</a><a class="dot">.......</a><a class="spot">Spotify setup</a></label><li> 
        <li><label for="menu">Input</label></li>
        <li><a href="{{ url_for('streamer') }}" class="wifi">Network</a><a class="dot">.......</a><a href="{{ url_for('optical1') }}" class="optical1">Optical 1</a><a class="dot">.......</a><a href="{{ url_for('optical2') }}" class="optical2">Optical 2</a></label><li>
        <li><label for="menu">Software</label></li>
        <li><a href="{{ url_for('squeeze') }}" class="squeeze">Squeezebox</a> <a class="dot">....</a> <a href="{{ url_for('upnp') }}" class="upnp">UPNP *</a></li>
        <li><label for="menu">Display</label></li>
        <li><a href="{{ url_for('dispon') }}" class="dispon">ON</a> <a class="dot">.........</a> <a href="{{ url_for('dispoff') }}" class="dispoff">OFF</a></li>
        <li><label for="menu">Power</label></li>
        <li><a href="{{ url_for('reboot') }}" class="reboot">Reboot</a><a class="dot">........</a><a href="{{ url_for('poweroff') }}" class="poweroff">Power off</a></li>
      </ul>
    </form>
  </div>
{% endblock %}
