{% extends 'layout.html' %}

{% block body %}
  <div id="mainContent">
    <h1>Tidal Setup</h1>
     <div class="wifiIcon"></div>
    <form action="{{ url_for('tidal_save_credentials') }}" method=post>
      <ul>
        <li><label for="ssid">Enter your Tidal username:</label></li>
        <li><input type="text" name="ssid", class="wifiNetworkInputs"></li>

        <li><label for="wifi_key">Your Tidal password</label></li>
        <li><input type="password" name="wifi_key", class="wifiNetworkInputs"></li>

        <input type="submit", class="wifiConnectButton">
      </ul>
    </form>
  </div>
{% endblock %}
